{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="media media-content">
        <div class="media-body">
            <h2>{{ user.username }}</h2>
            <p class="text-muted">{{ user.email }}</p>
        </div>
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend>Profile Info</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
{% endblock content %}